
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
    height: 2000px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /* margin: 0;
    padding: 0;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4; */
}

/* HEADER */

.container-header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.header{
    width: 1220px;
    height: 70px;
    background-color:rgb(255, 255, 255);
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.logo-image{
    height: 50px;
    transition: all 0.2s ease-in;
}

.logo-image:hover{
    transform: scale(1.2);
}

.list{
    display: flex;
}

.link-item{
    margin: 0 10px;
    padding: 0 20px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    box-sizing: border-box;
    transition: all 1s ease;
}

.link-item:hover{
    border: 1px solid rgb(235, 144, 144);
    border: none;
    background-color: rgb(235, 144, 144);
    border-radius: 20px;
}


/* CONTAINER */

.container-content{
    /* background-color: #ffecec; */
    width: 1220px;
    height: 2000px;
    margin-top: 100px;
    display: flex;
    position: relative;
    z-index: 1;
}

.content{
   background-color: #ffffff;
   width: 830px;
   height: 600px;
   flex: 3;
   margin-right: 30px;
   /* display: flex; */
   /* justify-content: center; */
   /* flex-direction: column; */

}

/* CONTAINER-CONTENT */

.border-detail-content{
    padding: 30px;
    border-bottom: 1px solid black;

}

.detail-content{
    background-color: #ffffff;
    width: 740px;
    height: 260px;
    display: flex;
}


.detail-image{
    width: 346px;
    height: 260px;
    overflow: hidden;
    margin-right: 20px;
    flex: 1;
}

.detail-img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}

.detail-img:hover{
    transform: scale(1.2);
}

/* ------------------------------------------------ */
.detail-infor{
    /* background-color: #b3e08d; */
    flex: 1.2;
}


.date-infor{
    display: flex;
}

.link-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: rgb(39, 38, 38);
}

.bxs-folder {
    margin-right: 20px;
    margin-top: 5px;
}
.bxs-calendar {
    margin-right: 20px;
    margin-top: 5px;
}


.title{
    font-size: larger;
    font-weight: 900;
    margin: 10px 0;
}

.text-infor--content{
    color: #000;
    font-weight: 400;
}


.link-keep{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#000 ;
    margin-top: 15px;
}

.keep{
    font-weight: 500;
    border-bottom: 1px solid #000;
}
/* CONTAINER_SIDEBAR */

.side-bar{
    background-color: #ffffff;
    width: 360px;
    height: 2000px;
    flex: 1.5;
    position: relative;
    
}

.sb-image{
    width: 340px;
    height: 320px;
    position: absolute;
    left: 30px;
    top: 30px;
    box-shadow: 0 5px 8px rgb(165, 157, 157);
    transition: all 0.2s ease;
}

.sb-image:hover{
    transform: scale(1.3);
}

.sb-intro{
    margin: 0 30px;
    margin-top: 380px;
    font-weight: 900;
    color: #777777;
}


/* social-icon */
.icon-social{
    margin-top:20px ;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.link{
    font-size: 30px;
    margin-right: 20px;
}


/* research */

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border: none;
    padding: 30px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

#search {
    border: none;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}
